<!DOCTYPE html>
<!--
  nayar/app/templates/index.handlebars
  https://github.com/thomasrstorey/nayar

  Copyright (c) 2015 thomasrstorey
  Licensed under the MIT license.
-->
<html>
  {{> head}}
    <div class="row">
    <h4>Error</h4>
      <p>Sorry nayar encountered an error. See the message below for more information.</p>
      <pre class="error-info">{{error}}</pre>
    </div>
  {{> foot}}
</html>
