<!DOCTYPE html>
<!--
  nayar/app/templates/index.handlebars
  https://github.com/thomasrstorey/nayar

  Copyright (c) 2015 thomasrstorey
  Licensed under the MIT license.
-->
<html>
  {{> head}}
    <div class="row">
      <div class="two-thirds column">
        {{#if user}}
        <p>You are currently logged in as {{user.username}}.</p>
        {{else}}
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        <form action="/register" method="post">
          <div class="row">
            <div class="twelve columns">
                <label>Username:</label>
                <input class="u-full-width" type="text" name="username"/>
            </div>
          </div>
          <div class="row">
            <div class="one-half column">
                <label>Password:</label>
                <input class="u-full-width" type="password" name="password"/>
            </div>
            <div  class="one-half column">
                <label>Confirm Password:</label>
                <input class="u-full-width" type="password" name="password-confirm"/>
            </div>
          </div>
          <div class="row">
            <div class="u-full-width">
              <label></label>
                <input type="submit" value="Register"/>
            </div>
          </div>
        </form>
        {{/if}}
      </div>
      <div class="one-third column">
        {{#if locked}}
        <p>An admin user has already been created for this nayar web server.
        All subsequent users will only have normal user privileges.</p>
        {{else}}
        <p>This nayar web server currently has no admin account. The first
        user you create will be given admin privileges. After that, all
        users created will have normal user privileges.</p>
        {{/if}}
      </div>
    </div>
  {{> foot}}
</html>
